@{
    ViewData["Title"] = "Best Bank Ledger";
}
<div class="row">
    <div class="col-md-12">
        <h3>Account Number @ViewBag.CurrentAcct.AcctNumber.ToString()</h3>

        <h4>Current Balance: @ViewBag.CurrentAcct.Balance.ToString()</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Deposit">
            <div class="form-group">
                <label>Deposit:</label>
                <input type="hidden" id="depAcctNum" name="depAcctNum" value=@ViewBag.CurrentAcct.AcctNumber />
                <input type="number" id="depAmt" name="depAmt" class="form-control" min="0" />
            </div>            
            <input type="submit" value="Deposit" />
        </form>
    </div>
    <div class="col-md-4">
        <form asp-action="Withdraw">
            <div class="form-group">
                <label>Withdraw:</label>
                <input type="hidden" id="wdAcctNum" name="wdAcctNum" value=@ViewBag.CurrentAcct.AcctNumber />
                <input type="number" id="wdAmt" name="wdAmt" class="form-control" max="@ViewBag.CurrentAcct.Balance" />
            </div>
            <input type="submit" value="Withdraw" />
</form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Logout"><h4>Logout</h4></a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Transactions:</h4>
        <ul>
            @foreach(var transaction in ViewBag.Transactions)
            {
                var transactionType = "Deposit";
                if (transaction.StartingBalance > transaction.EndingBalance) { transactionType = "Withdraw"; }
                <li>@transaction.TimeOfTransaction.ToString(): @transactionType Starting Balance: @transaction.StartingBalance Ending Balance: @transaction.EndingBalance</li>

            }
        </ul>
    </div>
</div>

